@using NETAkademi.Models.Blocks
@model PartnerBlock

<div class="media">
    <div class="mediaImg">
        <a href="@Model.PartnerLink">
            <img class="partnerPic" src="@Url.ContentUrl(Model.PartnerLogo)" />
        </a>
    </div>
</div>