@model NETAkademi.Models.ViewModels.BlockEditPageViewModel

<div class="row">
    <div class="col-md-12">
        @Html.PropertyFor(m => m.previewBlock.ContentArea)
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @Html.PropertyFor(m => m.previewBlock.ContentArea)
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.PropertyFor(m => m.previewBlock.ContentArea)
    </div>
</div>