@using NETAkademi.Models.ViewModels
@using NETAkademi.Models.Pages
@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}
@{Html.RenderPartial("Breadcrumbs");}

<div class="row">
    <div class="col-md-4 sideBar">
        @{ DefaultPageViewModel<SitePageData> basemodel = new
                  DefaultPageViewModel<SitePageData>(Model.CurrentPage);
            Html.RenderPartial("SubNavigation", basemodel);}
        @RenderSection("RelatedContent", false)
    </div>
    <div class="col-md-8">
        @RenderBody()
    </div>
</div>
