@using NETAkademi.Models.Blocks
@model MapBlock

<div>
    <h4>@Model.MapHeading</h4>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="@Model.IFrameMapUrl"></iframe>
    </div>
</div>
